.contacto form, .contacto, .direccion_items div, .direccion, .mision_valores, .quienes_somos, .banner div, .banner, .tarjetas, .seccion-2, .seccion-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto form button, .productos div button {
  padding: 5px;
  background-color: #BDE0FE;
  border-color: black;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #FFC8DD;
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  align-items: center;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
header nav ul {
  display: flex;
  padding-left: 30px;
}
header nav ul li {
  list-style: none;
  padding: 10px;
}
header nav ul li a {
  text-decoration: none;
  color: white;
}
header nav ul li a:hover {
  opacity: 0.75;
}

.logo {
  display: flex;
}
.logo img {
  width: 5%;
  border-radius: 50%;
}
.logo h1 {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
  padding-left: 15px;
  color: white;
}

.seccion-1 {
  /* background-image: radial-gradient(#dbabbf,#dbabbf); */
  background-image: radial-gradient(#d5acbd, #d5acbd);
  position: relative;
  margin-top: 70px;
}
.seccion-1 img {
  height: 500px;
}
.seccion-1 button {
  position: absolute;
  margin: 10px;
  top: 75%;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  background-color: #CDB4DB;
  border-color: #CDB4DB;
}
.seccion-1 button a {
  text-decoration: none;
  font-size: 30px;
}

.seccion-2 {
  padding-top: 50px;
}
.seccion-2 div {
  width: 45%;
  padding-right: 50px;
}
.seccion-2 div h3 {
  padding: 10px;
}
.seccion-2 div p {
  padding: 10px;
}
.seccion-2 a img {
  height: 200px;
  border-radius: 20px;
}
.seccion-2 a img:hover {
  transform: scale(1.03);
}

.haircare {
  margin: 0 auto;
  margin-top: 100px;
  width: 90%;
}
.haircare h2 {
  text-align: center;
}
.haircare ul {
  padding: 30px;
}
.haircare ul li {
  padding-top: 10px;
}

.seccion-3 {
  background-color: #CDB4DB;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 1000px;
  width: 100%;
}
.seccion-3 img {
  padding: 20px;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.img-expand {
  grid-column: span 2;
  object-fit: cover;
}

.tienda {
  text-align: center;
  padding: 10px;
  margin-top: 90px;
}

.productos {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  margin-left: 30px;
  margin-right: 30px;
}
.productos div {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  margin: 10px;
  justify-content: space-between;
}
.productos div img {
  width: 100%;
}
.productos div p {
  text-align: center;
}
.productos div button {
  position: relative;
}
.productos div button a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.diagnostico {
  margin-top: 90px;
  padding-left: 30px;
}
.diagnostico h2 {
  text-align: center;
  padding: 10px;
}
.diagnostico h6 {
  font-size: medium;
  padding-top: 10px;
}
.diagnostico ul li {
  padding-top: 10px;
}

.info-diagnostico {
  width: 90%;
  margin: 0 auto;
}

.tarjetas {
  gap: 10px;
  margin-top: 30px;
}
.tarjetas div p {
  text-align: center;
  background-color: #b6aec2;
  margin-bottom: 10px;
  border-radius: 3px;
}
.tarjetas div img {
  height: 300px;
  border-radius: 3px;
}

.banner {
  margin-top: 30px;
}
.banner img {
  width: 90%;
  object-fit: cover;
}
.banner div {
  position: absolute;
  flex-direction: column;
  width: 700px;
  background-color: rgba(0, 0, 0, 0.527);
  padding: 30px;
  border-radius: 3px;
}
.banner div h6 {
  text-align: center;
  padding: 20px;
  color: white;
}
.banner div p {
  text-align: center;
  padding: 20px;
  color: white;
}
.banner div button {
  background-color: #BDE0FE;
  width: 200px;
  border-radius: 5px;
}
.banner div button a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 20px;
}

.sobre-nosotros {
  margin-top: 90px;
}
.sobre-nosotros h2 {
  text-align: center;
  padding: 10px;
  margin: 10px;
  padding-left: 200px;
  padding-right: 200px;
}

.quienes_somos {
  background-image: url(../../img/banner\ quienes\ somos.jpg);
  height: 250px;
}
.quienes_somos p {
  text-align: center;
  padding: 10px;
  margin: 10px;
  padding-left: 200px;
}
.quienes_somos img {
  height: 200px;
  padding-right: 200px;
}

.mision_valores {
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  padding-top: 50px;
}

.mision {
  width: 45%;
  padding-right: 50px;
}
.mision h3 {
  padding-bottom: 10px;
}

.valores h3 {
  padding-bottom: 10px;
}
.valores ul li {
  padding: 5px;
}

.grid_sobre_nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  background-color: #BDE0FE;
  margin-top: 50px;
}
.grid_sobre_nosotros img {
  height: 350px;
  padding: 10px;
  width: 100%;
  object-fit: cover;
}

.main_contacto {
  margin-top: 90px;
}
.main_contacto h2 {
  text-align: center;
}

.direccion iframe {
  margin: 30px;
  width: 45%;
}

.direccion_items div h2 {
  text-align: center;
  padding: 10px;
}
.contacto {
  background-color: #CDB4DB;
  margin: 30px;
}
.contacto p {
  text-align: center;
  padding: 20px;
  font-size: 25px;
  padding-left: 50px;
}
.contacto form {
  flex-direction: column;
  padding: 15px;
  margin: 20px;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.123);
}
.contacto form div label {
  margin: 8px;
}
.contacto form div input {
  margin-top: 8px;
}
.contacto form div textarea {
  margin-top: 8px;
}
.contacto form button {
  margin: 15px;
}

footer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  height: 150px;
  background-color: #FFAFCC;
  flex-direction: column;
  align-items: center;
  color: white;
}
footer ul {
  display: flex;
}
footer ul li {
  padding: 20px;
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer ul li:hover {
  transform: translateY(-8px);
  opacity: 0.75;
}

@media screen and (max-width: 1000px) {
  .seccion-2 {
    flex-direction: column;
  }
  .seccion-2 div {
    width: 90%;
    padding: 20px;
  }
  .productos {
    grid-template-columns: repeat(4, 3fr);
  }
  .tarjetas div img {
    height: 250px;
  }
  .quienes_somos p {
    padding-left: 50px;
  }
  .quienes_somos img {
    padding-right: 50px;
  }
  .mision_valores {
    flex-direction: column;
  }
  .mision {
    width: 90%;
    padding-bottom: 60px;
  }
  .valores {
    width: 90%;
  }
  .direccion iframe {
    width: 35%;
  }
  .contacto p {
    font-size: 20px;
  }
}
@media screen and (max-width: 850px) {
  .seccion-3 {
    grid-template-columns: repeat(3, 1fr);
    height: 1500px;
  }
  .img-expand {
    grid-column: span 3;
  }
  .tarjetas div img {
    height: 200px;
  }
  .direccion_items div {
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
  }
  nav {
    padding: 10px 0px;
  }
  .seccion-1 {
    margin-top: 130px;
  }
  .seccion-3 {
    height: 600px;
  }
  .seccion-3 img {
    height: 300px;
  }
  .img-expand {
    display: none;
  }
  .tienda {
    margin-top: 150px;
  }
  .productos {
    grid-template-columns: repeat(3, 3fr);
  }
  .diagnostico {
    margin-top: 150px;
  }
  .tarjetas div img {
    height: 150px;
  }
  .banner div {
    width: 85%;
  }
  .banner div h6 {
    padding: 10px;
  }
  .banner div p {
    padding: 10px;
  }
  .sobre-nosotros {
    margin-top: 150px;
  }
  .quienes_somos p {
    padding: 30px;
  }
  .quienes_somos img {
    display: none;
  }
  .grid_sobre_nosotros {
    grid-template-columns: 2fr 1fr;
  }
  .grid_sobre_nosotros img {
    height: 200px;
  }
  .imagen-5 {
    display: none;
  }
  .main_contacto {
    margin-top: 150px;
  }
  .main_contacto h2 {
    text-align: center;
  }
  .direccion {
    flex-direction: column;
  }
  .direccion iframe {
    width: 70%;
  }
  .direccion_items div {
    flex-direction: row;
  }
}
@media screen and (max-width: 600px) {
  .seccion-1 img {
    height: 300px;
  }
  .seccion-1 button {
    height: 30px;
    width: 150px;
  }
  .seccion-1 button a {
    font-size: 20px;
  }
  .direccion iframe {
    height: 250px;
  }
  .contacto {
    flex-direction: column;
  }
  .contacto p {
    padding-left: 20px;
  }
  .contacto form {
    width: 60%;
  }
}
@media screen and (max-width: 550px) {
  header nav ul {
    padding-left: 10px;
  }
  .seccion-3 img {
    padding: 5px;
  }
  .productos {
    grid-template-columns: repeat(2, 3fr);
  }
  .tarjetas div img {
    height: 120px;
  }
  .banner img {
    display: none;
  }
  .banner div {
    background-color: #CDB4DB;
    position: relative;
  }
  .banner div button {
    width: 100px;
  }
  .banner div button a {
    font-size: 15px;
  }
}
@media screen and (max-width: 400px) {
  .seccion-1 {
    padding-top: 20px;
  }
  .seccion-1 img {
    height: 150px;
  }
  .seccion-1 button {
    height: 20px;
    width: 100px;
  }
  .seccion-1 button a {
    font-size: 14px;
  }
  .seccion-3 {
    height: 400px;
    grid-template-columns: repeat(4, 1fr);
  }
  .seccion-3 img {
    height: 200px;
    padding: 5px;
  }
  .img-expand {
    display: block;
    grid-column: span 2;
    object-fit: cover;
  }
  .productos {
    grid-template-columns: repeat(1, 3fr);
  }
  .tarjetas div img {
    height: 100px;
  }
  .tarjetas div p {
    font-size: 13px;
  }
  .sobre-nosotros h2 {
    padding-left: 0;
    padding-right: 0;
  }
  .quienes_somos {
    height: 300px;
  }
  .direccion_items div {
    flex-direction: column;
  }
  .direccion_items div h2 {
    font-size: 20px;
  }
  .contacto p {
    font-size: 15px;
  }
}

/*# sourceMappingURL=estilos.css.map */
