*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  --------------header---------------------------------- */

header{
    background-color: #FFC8DD;
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
    padding: 15px;
}

h1{
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    padding-left: 15px;
    color: white;
}

header img{
    width: 5%;
    border-radius: 50%;
}

.logo{
    display: flex;
}

nav ul{
    display: flex;
    padding-left: 30px;
}

nav ul li{
    list-style: none;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    opacity: 0.75;
}

@media (max-width:700px)
{
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}

/* --------------Seccion 1-------------------- */
.seccion-1 img{
    height: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
   
}
.seccion-1{
    display: flex;
    justify-content: center;
    background-color: #dbabbf;
}

/* --------------Seccion 2-------------------- */
.seccion-2{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.seccion-2 img{
    height: 200px;
}

.seccion-2 img:hover{
    transform: scale(1.03);
}

@media (max-width: 700px)
{
    .seccion-2{
        flex-direction: column;
    }
    .seccion-2 img{
        width: 70%;
    }
}
/* --------------Seccion 3-------------------- */

.seccion-3{
    background-color: #CDB4DB;
    height: 200px;
    width: 100%;
    margin-top: 50px;
}

/* -------------------FOOTER-----------------*/

footer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 150px;
    background-color: #FFAFCC;
    flex-direction: column;
    align-items: center;
    color: white;
}

footer ul{
    display: flex;
}

footer ul li{
    padding: 20px; 
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: white;
}

footer li:hover{
    transform: translateY(-8px);
    opacity: 0.75;
}


/* ------------------SOBRE NOSOTROS------------ */

h2, p{
    text-align: center;
    padding: 10px;
    margin: 10px;
    padding-left: 200px;
    padding-right: 200px;
}

.sobre-nosotros img{
    height: 400px;
}

.sobre-nosotros div{
    display: flex;
    justify-content: center;
}


/* ------------------CONTACTO----------------------- */

.contacto iframe{
    margin: 30px;
}

.direccion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}