*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  --------------header---------------------------------- */

header{
    background-color: #FFC8DD;
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

h1{
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    padding-left: 15px;
    color: white;
}

header img{
    width: 5%;
    border-radius: 50%;
}

.logo{
    display: flex;
}

nav ul{
    display: flex;
    padding-left: 30px;
}

nav ul li{
    list-style: none;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    opacity: 0.75;
}

@media (max-width:700px)
{
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}

/* --------------Seccion 1-------------------- */
.seccion-1 img{
    height: 500px;
}

.seccion-1{
    display: flex;
    justify-content: center;
    /* background-image: radial-gradient(#dbabbf,#dbabbf); */
    background-image: radial-gradient(#d5acbd,#d5acbd);
    position: relative;
    margin-top: 70px;
}
.seccion-1 button{
    position:absolute;
    margin: 10px;
    top: 75%;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    background-color: #CDB4DB;
    border-color: #CDB4DB;
}

.seccion-1 button a{
    text-decoration: none;
    font-size: 30px;
}

/* --------------Seccion 2-------------------- */
.seccion-2{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    flex-wrap: wrap;
}

.seccion-2 img{
    height: 200px;
    border-radius: 20px;
}

.seccion-2 img:hover{
    transform: scale(1.03);
}

@media (max-width: 700px)
{
    .seccion-2{
        flex-direction: column;
    }
    .seccion-2 img{
        width: 70%;
    }
}
/* --------------Seccion 3-------------------- */

.seccion-3{
    background-color: #CDB4DB;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 1000px;
    width: 100%;
}

.seccion-3 img{
    padding: 20px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.img-expand{
    grid-column: span 2;
    object-fit: cover;
}


/* -------------------FOOTER-----------------*/

footer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 150px;
    background-color: #FFAFCC;
    flex-direction: column;
    align-items: center;
    color: white;
}

footer ul{
    display: flex;
}

footer ul li{
    padding: 20px; 
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: white;
}

footer li:hover{
    transform: translateY(-8px);
    opacity: 0.75;
}


/* ------------------SOBRE NOSOTROS------------ */

.sobre-nosotros h2, .sobre-nosotros p{
    text-align: center;
    padding: 10px;
    margin: 10px;
    padding-left: 200px;
    padding-right: 200px;
}

.sobre-nosotros img{
    height: 400px;
}

.sobre-nosotros div{
    display: flex;
    justify-content: center;
}

.sobre-nosotros{
    margin-top: 70px;
}


/* ------------------CONTACTO----------------------- */

.contacto iframe{
    margin: 30px;
}

.direccion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contacto h2, .contacto p{
    text-align: center;
    padding: 10px;
}

.contacto{
    margin-top: 70px;
}
/* -----------------Hair routine----------------------- */

.hair_routine ol li{
    display: grid;
    justify-items: center;
    align-items: center;
}

.hair_routine ol li img{
    height: 300px;
}

.hair_routine ol li h6{
    text-decoration: underline;
}
.hair_routine h2{
    text-align: center;
}
.title_ol{
    font-weight: bold;
}

.hair_routine{
    margin-top: 90px;
}


/* ---------------Tienda-------------------- */
.productos{
    
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    margin-left: 30px;
    margin-right: 30px;
}

.productos img{
    width: 100%;
}

.productos div{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
}

.productos button{
    padding: 5px;
    border-radius: 5px;
    background-color: #BDE0FE;
    border-color: black;
    position: relative;
    
}
.productos button a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.productos p{
    text-align: center;
}

.tienda{
    text-align: center;
    padding: 10px;
    margin-top: 70px;
}

